@model MVCASFIES.Models.PDFEstiloVidaDato
@{
    ViewBag.Title = "Encuesta";
}

<h2>Encuesta</h2>
@using (Html.BeginForm("Create","EstiloVida",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SumaAseguradaPesos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SumaAseguradaPesos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SumaAseguradaPesos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SumaAseguradaUDIS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SumaAseguradaUDIS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SumaAseguradaUDIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultiploSalarioAnual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MultiploSalarioAnual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MultiploSalarioAnual, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="text" value=@(ViewBag.ClienteId) name="ClienteId" class="disabled"/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}
